.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 5px solid #333;
    background-color: #f2f2f2;
}

.mk-logo {
    height: 50px;
    margin-left: 20px;
}